<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="6ff8bb9b-da37-4ed9-bd1f-fa4be9596179" activeEnvironment="Default environment" name="VExchange01292016" resourceRoot="" soapui-version="6.0.0" lastOpened="2018-03-21T07:35:47.451-04:00" updated="2.6.0" encryptionMode="Not encrypted" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="6ff8bb9b-da37-4ed9-bd1f-fa4be9596179fileName">VExchange01292016-soapui-project</con:setting>
  </con:settings>
  <con:vcsConfiguration>
    <con:vcsName>Git</con:vcsName>
    <con:repositoryIdentifier>https://github.com/iahmedgov/vexchange.git</con:repositoryIdentifier>
  </con:vcsConfiguration>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:requirements/>
  <con:properties/>
  <con:wssContainer/>
  <con:databaseConnectionContainer/>
  <con:jmsConnectionContainer/>
  <con:oAuth2ProfileContainer/>
  <con:oAuth1ProfileContainer/>
  <con:authRepository/>
  <con:tags/>
</con:soapui-project>
