<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="8386382c-319e-4fd1-b8db-e60a7c4124ae" name="TestSuite" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="8386382c-319e-4fd1-b8db-e60a7c4124aefileName">TestSuite</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>